.bottom-action-bar {
    padding: 15px;
    text-align: right;

    button {
        margin-left: 15px;

        &:first-of-type {
            margin-left: 0;
        }
    }

    button.left {
        float: left;
        margin-left: 0;
        margin-right: 15px;
    }
}